.perk-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 150px);
    gap: 15px;
    padding: 20px;
}

.perk-card {
    background-color: #1a1a1a;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.perk-icon {
    max-width: 100%;
    max-height: 100%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}
.perk-card {
    position: relative;
}

.perk-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 200px;
    background-color: #1a1a1a;
    border: 2px solid #cdad5d;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.perk-card.open .perk-content {
    display: block;
}
